* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    display: inline;
}

.a4-size {
    width: 21cm;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.table-1 {
    width: 100%;
    margin: 50px 0;
    position: relative;
}

.table-1>h1 {
    position: absolute;
    top: -50px;
}

.content-1 {
    background-color: white;
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}

.content-1 td {
    padding: 5px 5px;
    text-align: center;
    border-left: 2px solid black;
    height: 50px;
}

.content-1 .title-1 {
    background-color: rgb(175, 175, 175);
    text-align: center;
    border: 2px solid black;
    width: 100%;
}

.content-1 .title-1 td {
    font-size: 14px;
    width: 100%;
    border: 2px solid black;
    height: 30px;
}

.content-1 .title-1 td h2 {
    font-size: 30px;
    display: inline;
    margin: 5px;
    font-weight: 900;
}

.content-1 .input-1 td {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.content-1 .title-1 td:nth-child(1) {
    width: 30%;
}

.content-1 .title-1 td:nth-child(2) {
    width: 15%;
}

.content-1 .title-1 td:nth-child(3) {
    width: 30%;
}

.table-1 .title-1 td:nth-child(4) {
    width: 30%;
}

.content-2 {
    background-color: white;
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
    border-top: none;
}

.content-2 td {
    padding: 5px 5px;
    text-align: center;
    height: 50px;
}

.content-2 .title-2 {
    background-color: rgb(175, 175, 175);
    text-align: center;
    width: 100%;
}

.content-2 .title-2 td {
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid black;
    height: 30px;
}

.content-2 .title-2 td h2 {
    font-size: 15px;
    display: inline;
    font-weight: 900;
}

.content-2 .input-2 td {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-2 .input-2 td h2 {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

.content-3 {
    background-color: white;
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
    border-top: none;
}

.content-3 td {
    padding: 5px 5px;
    text-align: center;
    border-left: 2px solid black;
    height: 50px;
}

.content-3 .title-3 {
    background-color: rgb(175, 175, 175);
    text-align: center;
    border: 2px solid black;
    width: 100%;
    border-top: none;
}

.content-3 .title-3 td {
    font-size: 14px;
    width: 100%;
    border: 2px solid black;
    height: 30px;
    border-top: none;
}

.content-3 .title-3 td h2 {
    font-size: 12px;
    display: inline;
    margin: 5px;
    font-weight: 900;
}

.content-3 .title-3 td:nth-child(1) {
    width: 33.33333333333333%;
}

.content-3 .title-3 td:nth-child(2) {
    width: 33.33333333333333%;
}

.content-3 .title-3 td:nth-child(3) {
    width: 33.33333333333333%;
}

.content-4 {
    background-color: white;
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
    border-top: none;
}

.content-4 td {
    padding: 5px 5px;
    text-align: center;
    border-left: 2px solid black;
    height: 50px;
    border-top: none;
}

.content-4 .title-4 {
    background-color: rgb(175, 175, 175);
    text-align: center;
    border: 2px solid black;
    width: 100%;
    border-top: none;
}

.content-4 .title-4 td {
    font-size: 14px;
    width: 100%;
    border: 2px solid black;
    height: 30px;
    border-top: none;
}

.content-4 .title-4 td h2 {
    font-size: 12px;
    display: inline;
    margin: 5px;
    font-weight: 900;
}

.content-4 .title-4 td:nth-child(1) {
    width: 50%;
}

.content-4 .title-4 td:nth-child(2) {
    width: 50%;
}

.content-4 .input-4 {
    height: 110px;
}

.content-4 .input-4 {
    height: 110px;
}

.content-4 .input-4 td {
    font-size: 25px;
}